= form_for([:admin, @article]) do |f|
  .col-md-8.col-md-offset-2
    .row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: "proto-new-title"
      .col-md-12
        = f.text_area :content, placeholder: "content", cols: "60", rows: "10", class: "border-form"
      .col-md-12
        = f.submit "publish", class: "btn btn-lg btn-primary btn-block"
