.show_article img {
  width: 100%;
}

.show_article_title {
  padding: 0 30px 15px;
}

.show_article_title h2 {
}

.date {
  font-size: 12px;
}

.show_article_title ul {
  border-bottom: 1px solid;
}

.interview {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 1.8;
  padding: 55px 30px 30px;
  clear: both;
}

.interview p {
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 20px;
}

.sns_botton {
  float: left;
  color: #4a4a4a;
  padding-right: 5px;
}
