/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*	EXAMPLE STYLES */
body {
	font-family: sans-serif;
	color: white;
}

.clearfix :after{
  content: "";
  display: block;
  clear: both;
}

header {
	line-height: 1.5em;
	text-align: center;
	background: #FE4444;
}

.headerInner {
	margin: 0 auto;
  padding: 29px 0 27px;
}


#headerSns {
	float: right;
}

.sns {
	float: left;
	margin-right: 10px;
}

article {
	line-height: 1.5em;
	text-align: center;
	background: #666;
}

aside {
	line-height: 1.5em;
	text-align: center;
	background: #999;
}

footer {
	line-height: 1.5em;
	text-align: center;
	background: #BBB;
}
