%header.row
  .headerInner.row
    #logo.col.span_6
      Ms-Tech
    #headerSns.col.span_4.clearfix
      / snsボタンを以下に配置
      %ul
        %li.sns
          facebook
        %li.sns
          twiter
        %li.sns
          hatena
