%header.row
  .headerInner.row
    #logo.col.span_6
      = link_to 'Ms-Tech', root_path
    #headerSns.col.span_4.clearfix
      / snsボタンを以下に配置
      %ul
        %li.sns
          facebook
          twiter
        %li.sns
          hatena
